@use '../settings/colors';
@use '../settings/fonts';

.contact {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;


  &:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 50%;
    background-image: url("../assets/Background-Contact-Form.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  .form-container {
    opacity: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: colors.$dark-gray;
    position: absolute;
    z-index: 3;

    h2 {
      font-size: 38px;
      line-height: 55px;
    }

    img {
      margin: 40px 0 60px 0;
    }

    .success {
      color: colors.$green;
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
    }

    .form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .form-data {
        width: 528px;
        display: flex;
        justify-content: space-between;

        div {
          width: 49%;
          height: 80px;

          label {
            font-size: 16px;
            font-weight: 600;

          }

          input {
            margin-top: 15px;
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid colors.$dark-gray;
            padding: 4px;


          }
        }
      }

      .form-info {
        margin-top: 30px;
        width: 100%;

        label {
          font-size: 16px;
          font-weight: 600;
        }

        textarea {
          margin-top: 15px;
          width: 100%;
          height: 100px;
          background: transparent;
          border: none;
          border-bottom: 1px solid colors.$dark-gray;
          padding: 4px;
          font-family: fonts.$font-base;
          text-align: justify;
        }
      }

      .form-validation {
        color: red;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
      }

      .submit-btn {
        margin-top: 60px;
        align-self: flex-end;
        padding: 13px 53px;
        border: 1px solid colors.$dark-gray;
        border-radius: 0;
        background: none;
        font-size: 18px;
        line-height: 32px;
        font-family: fonts.$font-base;
        font-weight: 300;
      }
    }

  }

  footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;

    .copyright {
      color: colors.$dark-gray;
      font-size: 18px;
      line-height: 24px;
      margin: 0 auto;

    }

    .icons {
      justify-self: flex-end;
      display: flex;
      gap: 20px;
    }

  }

}