@use '../settings/colors';
@use '../settings/fonts';


.register-container {
  width: 100%;
  height: 100vh;
  background: colors.$main;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  .register-box, .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h2 {
      font-size: 40px;
      line-height: 55px;
      color: colors.$dark-gray;
    }

    img {
      width: 253px;
      height: 33px;
      margin: 25px 0 40px 0;
    }

    .success {
      color: colors.$green;
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
    }

    .login-validation {
      color: red;
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
    }

    form {
      width: 384px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      background: colors.$light;
      padding: 40px 40px;

      label {
        font-size: 16px;
        font-weight: 600;
        color: colors.$dark-gray;

      }

      input {
        margin: 15px 0 30px 0;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid colors.$dark-gray;
        padding: 4px;


      }

      .form-validation {
        color: red;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
      }

      .login-form-validation {
        color: red;
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
      }



    }

    .form-btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .submit-btn, .form-btn {
      margin-top: 60px;
      align-self: flex-end;
      padding: 13px 53px;
      border: 1px solid colors.$dark-gray;
      border-radius: 0;
      background: none;
      font-size: 18px;
      line-height: 32px;
      font-family: fonts.$font-base;
      font-weight: 300;
    }


  }

  .register-img {
    width: 885px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: right;
  }

  .register-content {
    width: 700px;
    height: 100%;
    padding: 2rem 0 0 0;
    background: transparent;

    .first-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      margin-bottom: 1rem;

      .btn {
        font-family: fonts.$font-base;
        color: colors.$dark-gray;
        font-size: 13px;
        padding: 9px 10px;
        background: none;
        border: none;
      }

      .register {
        border: 1px solid colors.$yellow;
        border-radius: 0;
      }
    }

    .navigation {
      width: 100%;

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 55px;

        a {
          font-size: 18px;
          line-height: 24px;
          color: colors.$dark-gray;
          font-family: fonts.$font-base;
        }
      }
    }
  }
  .spacer {
    height: 100%;
    width: 142px;
  }
}